.page-header {
    background-color: skyblue;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    width: 1140px;
}


table, td {
    border: 1px solid black;
    width: 178px;
    height: 60px;
    text-align: center;
}
table {
    margin-top: 10px;

}
h1 {
    font-size: 22px;
}
h2 {
    font-size: 18px;
    margin: 20px;
}
.card {
    float: left;
    height: 212px;
    margin-top: 20px;
    margin-right: 15px;
}
.card-header {
    height: 80px;
}
#card-1 {
    background-color: seashell;
    margin-left: 20px;
}
#card-2 {
    background-color:seashell;
}
#card-3 {
    background-color: seashell;
}
#card-4 {
    background-color: seashell; 
}
#card-5 {
    background-color:seashell;
}
.card-container {
    /* margin: 5px; */
    border: 1px solid black;
    height: 250px;
    width: 900px;
    position: relative;
}
#top {
    /* margin-left: 40px; */
    height: 215px;
}
.row2 {
    line-height: 2;
    margin-left: 20px;
}
#city {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}