.page-header {
    background-color: skyblue;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    width: 1140px;
}
#button {
    background-color: red;
   
}
#search {
    background-color: red;
}
table, td {
    border: 1px solid black;
    width: 178px;
    height: 60px;
    text-align: center;
}
table {
    margin-top: 10px;

}
h1 {
    font-size: 22px;
    margin-left: 20px;
}
h2 {
    font-size: 18px;
    margin: 20px;
}
.card {
    float: left;
    height: 212px;
    margin-top: 20px;
    margin-right: 15px;
    width: 165px;
    background-color: teal;
    color: white;
}
.card-header {
    height: 50px;
    color: black;
}
#card-1 {
    background-color: seashell;
    /* margin-left: 20px; */
}
#card-2 {
    background-color:seashell;
}
#card-3 {
    background-color: seashell;
}
#card-4 {
    background-color: seashell; 
}
#card-5 {
    background-color:seashell;
}
.card-container {
    /* margin: 5px; */
    border: 1px solid black;
    height: 250px;
    width: 900px;
    position: relative;
    padding-left: 15px;
    margin-bottom: 20px;
}
#top {
    /* margin-left: 40px; */
    height: 215px;
}
.row2 {
    /* line-height: 2; */
    margin-left: 20px;
    
}
#city {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
#row2 {
    display: inline-block;
    width: 800px;
}

.mild {
    width: 500px;
    height: 50px;
    background-color: blue;
    color: white;
}

.moderate {
    width: 500px;
    height: 50px;
    background-color: green;
    color: white;
}

.severe {
    width: 500px;
    height: 50px;
    background-color: red;
    color: white;
}

/* #icon-one {
    width: 90px;
    height: 90px;
} */
.col-md-2 {
    float: left;
}
.col-md-10 {
    float: left;
}
.card-title {
    width: 40px;
    height: 40px;
    margin-top: -10px;
}
#icon-one, #icon-two, #icon-three, #icon-four, #icon-five {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
